@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

section {
    background: linear-gradient(135deg, rgba(207, 169, 0, 0.842), rgb(255, 174, 98));
    backdrop-filter: blur(10px);
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding: 50px 0 !important;
}

.swiper-slide {
    padding: 10px;
    background-position: center;
    background-size: cover;
    width: 320px !important;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.281);
    filter: blur(3px);
    transition: 0.2s ease-in !important;
}

.swiper-slide-active:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.281)
}

.swiper-slide-active {
    filter: blur(0px);
}

.testmonialBox {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 90px;
    color: #999;
}

.testmonialBox .quote {
    width: 70px;
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
}

.testmonialBox .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testmonialBox .details .imgBx {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.testmonialBox .details .imgBx img {
    position: absolute;
    top: -10px;
    left: -15px;
    width: 120%;
    height: 120%;
    object-fit: cover;
}

.testmonialBox .details h3 {
    font-size: smaller;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffc800;
    line-height: 1.1em;
}

.testmonialBox .details h3 span {
    font-size: small;
    color: #666;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    background: none !important;
}

.swiper-button-next {
    margin-right: 20px;
    
}

.swiper-button-prev {
    margin-left: 20px;
}


.swiper-button-next:after,
.swiper-button-prev:after{
     font-size: 40px !important;
 }